<a href="https://colab.research.google.com/github/envomp/2020-Andmekaevandamine/blob/master/andmekaeve2_segmenteerimine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [125]:
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.preprocessing import MinMaxScaler
from IPython.display import display, HTML
import pandas as pd
import time

pattern = '%Y-%m-%d %H:%M:%S'
chosen_rows = [90, 91, 92, 93]

def get_data(rows):
  # df = pd.read_excel('BitcoinAddresses.xlsx')
  df = pd.read_excel('test.xlsx')
  df = df.loc[rows].drop(['Aadress'], axis = 1)
  map_timestamps = ["First transaction", "Last transaction"]
  df[map_timestamps] = df[map_timestamps].applymap(lambda x: time.mktime(time.strptime(str(x), pattern)))

  scaler = MinMaxScaler()
  scaler.fit(df)
  X = scaler.transform(df)
  dist = euclidean_distances(X, X)
  print(f"Euclidean distances:\n{dist}\n\n")
  return df, scaler, X, dist

df1, scaler1, X1, dist1 = get_data(chosen_rows)

while 1:
  user_row = int(input())
  total_rows = chosen_rows + [user_row]

  print(f"Checking rows: {total_rows}")
  df2, scaler2, X2, dist2 = get_data(total_rows)

  minimum = 10000
  for col in dist2[-1][:4]:
    if col < minimum:
      minimum = col

  similar = list(dist2[-1]).index(minimum)
  print(f"Most similar to user selected row is: {similar + 1} with value {minimum}\n\n")
  rev = scaler2.inverse_transform(X2)
  sel_rev = [rev[similar], rev[-1]]
  print(f"Reversed values are: {sel_rev}\n\n")
  answer_rows = [chosen_rows[similar], user_row]
  display(HTML(df2.loc[answer_rows].to_html()))

Euclidean distances:
[[0.         1.54710002 1.46992337 1.58200476]
 [1.54710002 0.         2.08468393 2.20746206]
 [1.46992337 2.08468393 0.         2.22709649]
 [1.58200476 2.20746206 2.22709649 0.        ]]


89
Checking rows: [90, 91, 92, 93, 89]
Euclidean distances:
[[0.         1.54710002 1.46992337 1.58200476 0.03128208]
 [1.54710002 0.         2.08468393 2.20746206 1.55026719]
 [1.46992337 2.08468393 0.         2.22709649 1.48086742]
 [1.58200476 2.20746206 2.22709649 0.         1.57233227]
 [0.03128208 1.55026719 1.48086742 1.57233227 0.        ]]


Most similar to user selected row is: 1 with value 0.03128207904414963


Reversed values are: [array([2.64036290e+02, 7.50000000e+01, 0.00000000e+00, 1.50144888e+09,
       1.50158372e+09, 3.30000000e+03, 1.98027218e+04, 0.00000000e+00]), array([2.64036290e+02, 7.50000000e+01, 0.00000000e+00, 1.50136248e+09,
       1.50149732e+09, 3.50000000e+03, 1.98027218e+04, 0.00000000e+00])]

98
Checking rows: [90, 91, 92, 93, 98]
Euclidean distances:
[[0.         1.54318619 1.37492472 1.30714323 1.5513938 ]
 [1.54318619 0.         2.02595906 2.00666763 2.01171289]
 [1.37492472 2.02595906 0.         2.1288754  2.15080504]
 [1.30714323 2.00666763 2.1288754  0.         0.66365895]
 [1.5513938  2.01171289 2.15080504 0.66365895 0.        ]]


Most similar to user selected row is: 4 with value 0.6636589469486374


Reversed values are: [array([3.27272730e+03, 9.00000000e+00, 2.00000000e+00, 1.49262522e+09,
       1.49869918e+09, 6.50000000e+03, 3.60000003e+04, 1.81818182e-01]), array([3.33466671e+03, 4.00000000e+00, 2.00000000e+00, 1.49070956e+09,
       1.49071017e+09, 7.40800000e+03, 2.00080003e+04, 3.33333333e-01])]

89
Checking rows: [90, 91, 92, 93, 89]
Euclidean distances:
[[0.         1.54710002 1.46992337 1.58200476 0.03128208]
 [1.54710002 0.         2.08468393 2.20746206 1.55026719]
 [1.46992337 2.08468393 0.         2.22709649 1.48086742]
 [1.58200476 2.20746206 2.22709649 0.         1.57233227]
 [0.03128208 1.55026719 1.48086742 1.57233227 0.        ]]


Most similar to user selected row is: 1 with value 0.03128207904414963


Reversed values are: [array([2.64036290e+02, 7.50000000e+01, 0.00000000e+00, 1.50144888e+09,
       1.50158372e+09, 3.30000000e+03, 1.98027218e+04, 0.00000000e+00]), array([2.64036290e+02, 7.50000000e+01, 0.00000000e+00, 1.50136248e+09,
       1.50149732e+09, 3.50000000e+03, 1.98027218e+04, 0.00000000e+00])]

1
Checking rows: [90, 91, 92, 93, 1]
Euclidean distances:
[[0.         1.28632527 1.46973507 1.58014449 1.55980224]
 [1.28632527 0.         1.90969004 2.06397096 0.49372233]
 [1.46973507 1.90969004 0.         2.22646172 2.08156877]
 [1.58014449 2.06397096 2.22646172 0.         2.2609152 ]
 [1.55980224 0.49372233 2.08156877 2.2609152  0.        ]]


Most similar to user selected row is: 2 with value 0.4937223256962131


Reversed values are: [array([4.00000384e+02, 5.00000000e+00, 0.00000000e+00, 1.40255772e+09,
       1.42799987e+09, 2.00000000e+03, 2.00000192e+03, 0.00000000e+00]), array([3.20000242e+02, 5.00000000e+00, 0.00000000e+00, 1.30792160e+09,
       1.42799987e+09, 1.60000000e+03, 1.60000121e+03, 0.00000000e+00])]

2
Checking rows: [90, 91, 92, 93, 2]
Euclidean distances:
[[0.         1.54406039 1.4647477  1.5793626  0.85099357]
 [1.54406039 0.         2.07302425 2.20745511 1.30987943]
 [1.4647477  2.07302425 0.         2.2167295  1.61526624]
 [1.5793626  2.20745511 2.2167295  0.         1.68185978]
 [0.85099357 1.30987943 1.61526624 1.68185978 0.        ]]


Most similar to user selected row is: 1 with value 0.8509935744133665


Reversed values are: [array([2.64036290e+02, 7.50000000e+01, 0.00000000e+00, 1.50144888e+09,
       1.50158372e+09, 3.30000000e+03, 1.98027218e+04, 0.00000000e+00]), array([1.58624901e+03, 1.00000000e+00, 0.00000000e+00, 1.49397546e+09,
       1.49397546e+09, 1.58624901e+03, 1.58624901e+03, 0.00000000e+00])]

89
Checking rows: [90, 91, 92, 93, 89]
Euclidean distances:
[[0.         1.54710002 1.46992337 1.58200476 0.03128208]
 [1.54710002 0.         2.08468393 2.20746206 1.55026719]
 [1.46992337 2.08468393 0.         2.22709649 1.48086742]
 [1.58200476 2.20746206 2.22709649 0.         1.57233227]
 [0.03128208 1.55026719 1.48086742 1.57233227 0.        ]]


Most similar to user selected row is: 1 with value 0.03128207904414963


Reversed values are: [array([2.64036290e+02, 7.50000000e+01, 0.00000000e+00, 1.50144888e+09,
       1.50158372e+09, 3.30000000e+03, 1.98027218e+04, 0.00000000e+00]), array([2.64036290e+02, 7.50000000e+01, 0.00000000e+00, 1.50136248e+09,
       1.50149732e+09, 3.50000000e+03, 1.98027218e+04, 0.00000000e+00])]



EOFError: ignored